* {
    margin: 0;
    padding: 0;
}



nav {
    background: #1F2937;
    padding: 25px;
    padding-left: 150px;
    padding-right: 175px;
    display: flex;
    background-size: contain;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    margin: 0px 30px;
}

nav img {
    height: 100px;
    width: auto;
}

.list ul {
    display: flex;
    gap: 30px;
    list-style: none;
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    background: #1F2937;
    
}


.list ul li a {
    text-decoration: none;
    color: #E5E7EB;
    background: #1F2937;

}

.secone {
    display: flex;
    background: #1F2937;
    margin: 0 30px;
    padding: 200px;
    align-items: center;
    height: 50px;
}

.first-image img {
    width: 500px;
    height: auto;
    background: #1F2937;
}

.info h2 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    background: #1F2937;
}

.info p {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 15px;
    background: #1F2937;
}

.info a {
    display: inline-block;
    background: rgb(24, 132, 233);
    margin-top: 20px;
    padding: 10px;
    border-radius: 15%;
    color: white;
    text-decoration: none;
}

.info {
    background: #1F2937;
}

.gallery {
    display: flex;
    margin: 0 30px;
    justify-content: center;
    align-items: cemter;
    padding: 100px;
}

.allg {
    flex: 1;
}

.allg img {
    border: 6px solid rgb(32, 136, 170);
    border-radius: 20%;
}

gallery div {
    flex: 1;
}

.gallery div img {
    width: 200px;
    height: 200px;

}

.gallery div p {
    width: 190px;
    margin-top: 30px;
    font-size: 18px;
    text-align: center;
}



gallery div {
    background: white;
    flex: 1;
}


.second {
    background: white;
    margin: 0 30px; 
    border: 2px solid black;
}

.second h2 {
    text-align: center;
    padding-top: 50px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}


.allg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}