* {
    margin: 0;
    padding: 0;
    background: rgb(41, 34, 34);
}



nav {
    background: #1F2937;
    padding: 25px;
    padding-left: 150px;
    padding-right: 175px;
    display: flex;
    background-size: contain;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    margin: 0px 30px;
}

nav img {
    height: 100px;
    width: auto;
}

.list ul {
    display: flex;
    gap: 30px;
    list-style: none;
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    background: #1F2937;
    
}


.list ul li a {
    text-decoration: none;
    color: #E5E7EB;
    background: #1F2937;

}

.secone {
    display: flex;
    background: #1F2937;
    margin: 0 30px;
    padding: 200px;
    align-items: center;
    height: 50px;
}

.first-image img {
    width: 500px;
    height: auto;
    background: #1F2937;
}

.info h2 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    background: #1F2937;
}

.info p {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 15px;
    background: #1F2937;
}

.info a {
    display: inline-block;
    background: rgb(24, 132, 233);
    margin-top: 20px;
    padding: 10px;
    border-radius: 15%;
    color: white;
    text-decoration: none;
}

.info {
    background: #1F2937;
}

.gallery {
    display: flex;
    margin: 0 30px;
    justify-content: center;
    align-items: cemter;
    padding: 60px;
    background: white;
}

.allg {
    flex: 1;
    background: white;
}

.allg img {
    border: 6px solid rgb(32, 136, 170);
    border-radius: 20%;
}

gallery div {
    flex: 1;
}

.gallery div img {
    width: 200px;
    height: 200px;

}

.gallery div p {
    width: 190px;
    margin-top: 30px;
    font-size: 18px;
    text-align: center;
    background: white;
}



gallery div {
    background: white;
    flex: 1;
}


.second {
    background: white;
    margin: 0 30px; 
}

.second h2 {
    text-align: center;
    padding-top: 50px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    background: white;
}


.allg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.third {
    background: #E5E7EB;
    padding: 100px 200px 100px 200px;
    margin: 0 30px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-family: cursive;
    background: #E5E7EB;

}

.inspo {
    text-align: right;
    font-size: 25px;
    font-weight: bolder;
    margin-right: 60px;
    background: #E5E7EB;
}

.quotebox {
    background: #E5E7EB;
}

.fourth {
    margin: 0 30px;
    padding: 50px;
    background: white;
}

.bluebox {
    background: rgb(24, 132, 233);
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5%;
}

.bluebox div a {
    text-decoration: none;
    border: 3px solid white;
    color: white;
    border-radius: 5%;
    margin-right: 20px;
    background: rgb(24, 132, 233);
    padding: 13px;
    margin-right: 80px;
}

.left-text {
    color: white;
    background: rgb(24, 132, 233);
    margin-left: 80px;
}

.bluebox,
.left-text,
.sign-up {
    background: rgb(24, 132, 233);
}

.left-text h3,
.left-text p {
    background: rgb(24, 132, 233);
}

.sign-up {
    margin-right: 180px;
    background: rgb(24, 132, 233);
}

footer {
    margin: 0 30px;
    background: #1F2937;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    background: #1F2937;
    font-size: 19px;
    color: white;
}